* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #231f20;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

html {
  background-color: #dae3f3;
}